.character-content {
  perspective: 150rem;
  position: relative;
  aspect-ratio: 1/1.3;
  /* max-width: 15rem; */
}

.character-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.character-side {
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--main-color_opacity);
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.character-side.back {
  transform: rotateY(-180deg);
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.character-text {
  display: block;
}
.character-content:hover .character-side.front {
  transform: rotateY(180deg);
}
.character-content:hover .character-side.back {
  transform: rotateY(0deg);
}
